:global {
    @keyframes keyframes-bg-gradient {
        0% {
            background-size: 100%;
        }

        50% {
            background-size: 200%;
        }

        100% {
            background-size: 100%;
        }
    }
}
